html{
    font-family:monospace;
    font-size: 4mmpx;
}
header{
    display:flex;
    justify-content:space-between;
    padding:15px;
    font-size: 30px; 
    background-color:white;
    border-bottom: 3px solid black;
    color:black;
    text-decoration:none;
}
.navBar{
    display:flex;
    justify-content: flex-end;
}
a:hover{
    color:blue;
    text-decoration:underline;
}
footer{
    border-top:3px solid black;
    display:flex;
    justify-content:space-between;
    padding-top:10px;
    background-color:white;
}
#facebookLogo{
    padding-left:50px;
    width:55px;
}
#indeedLogo{
    width:55px;
    padding-top:10px;
}
#twitterLogo{
    padding-top:5px;
    width:40px;
}
a{
    color:black;
    text-decoration:none;
}

.family{
    width:150px;
    border-radius:10px;
    float:left;
    margin-right:10px;
    height:100px;
}
.friends{
    width:150px;
    border-radius:10px;
    float:right;
    height:100px;
}
.friendsTwo{
    width:120px;
    border-radius:10px;
    float:left;
    margin-right:10px;
    height:140px;
}
.friendsThree{
    width:140px;
    border-radius:10px;
    float:right;
    margin-right:10px;
}
.friendsFour{
    width:140px;
    border-radius:10px;
    float:left;
    object-position: left bottom;
}
.fiance{
    width:90px;
    border-radius:10px;
    float:right;
    height:130px;
}
.oreo{
    width:10mm;
    border-radius:5in;
    float:left;
    height:110px;
    margin-right:10px;
}
#beginning{
    border-bottom: 2px solid black;
    padding-bottom:15px;
}
#familyOne{
    font-size:4mm;
    margin:50px;
    border-bottom: 5px solid black;
    padding:20px;
}
main{
    background-color:purple;
    padding:50px;
    padding-top:10px;
    padding-bottom:10px;
    font-family:monospace;
    color:white;
}
